# On suit les liens symboliques
Options +FollowSymLinks

# Activation du mod rewrite d'Apache
RewriteEngine On

# interdits l'accès par le site aux dossiers 
Options All -Indexes

# page rewriting

# download/access/archive/delete
RewriteRule ^download\/([a-zA-Z\d]+)\/([a-zA-Z\d]+)\/delete(\/\d+)?(\.[a-zA-Z]+|\/)?$ download.php?access=$1&archive=$2&delete=1 [L]

# download/access/archive
RewriteRule ^download\/([a-zA-Z\d]+)\/([a-zA-Z\d]+)(\.[a-zA-Z]+|\/)?$ download.php?access=$1&archive=$2&delete=0 [L]

# maintenance page rewriting
RewriteRule ^maintenance(\.[a-zA-Z\-]+)$ maintenance/maintenance_page.php [L]

# main
RewriteRule ^(?!download\.php)(([a-zA-Z]+)(\.[a-zA-Z]+)?)$ index.php [L]